/*font*/
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/*everyone*/
html {
    background: linear-gradient(0.50turn, #FFF2C6, #eb9fef, #00d4ff);
    color: rgba(0,0,0,0.6);
    width: 100%;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

/*tête*/
header {
    margin-top: 10%;
}

/*titre tête*/
header h1 {
    width: 40%;
    height: 50%;
    margin: 15px 0 15px 35%;
}

/*logo*/
.logo {
    height: 20%;
    width: 15%;
    border-radius: 15%;
    float:left;
    padding-top: 0;
    margin: 0 15px 0 15px;
}


/*corps*/
main {
    margin-top:15%;
}

/*tableau*/
table {
    width: 95%;
    border-collapse: collapse;
    margin: 15% 0 10% 0;
}

/*case du tableau*/
th, td {
    padding: 10px;
    text-align: center;
}

/*bouton*/
button {
    padding: 10px 20px;
    background-color: #3AC6FB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*bouton action*/
button:hover {
    background-color: #EBA2ED;
}

/*image de groupe*/
.groupe {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.3);
}

/*formulaire*/
form {
    margin-bottom: 15%;
    width: 100%;
    text-align: center;
    margin: 10% 0 5% 0;
}

/*partenaires*/
section {
    text-align: center;
    margin-bottom: 10%;
}

/*image*/
section img {
    width: 100px;
    height: 100px;
}

/*Liste*/
section ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0 0 0 40%;
}

/*alignement*/
ul li {
    float: left; 
    margin: 0 10px; 
}

/*pied*/
footer {
    text-align: center;
    padding: 20px; 
}

/*musique*/
footer audio {
    margin-bottom: 15px; 
}

/*imagers*/
.rs {
    width: 100px;
    height: 100px;
}

/*Liste*/
footer ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0 0 0 35%;
}


